.about {
	padding: 20px;
	height: calc(100vh - 50px);
	background-color: burlywood;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	overflow-x: hidden;
}

.about-item {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-title {
	margin: 10px;
	padding: 5px;
	width: 80%;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-family: 'Varela Round', sans-serif;
	font-size: 12px;
	color: #222;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}

.about-img {
	width: 640px;
	height: 426px;
	margin-top: 15px;
}

.about-item > p {
	padding: 30px;
}

.about-list {
	list-style: none;
	margin-bottom: 0;
}

.about-list-item {
	/* font-size: small; */
	/* display: inline-block; */
	/* width: 50%; */
	/* margin-top: 15px; */
	cursor: pointer;
}

.about-social {
	margin-top: 10px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about svg {
	font-size: 16px;
	margin-left: 10px;
	cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 280px) {
	/* .example {background: red;} */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	/* .example {background: green;} */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* .example {background: blue;} */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/* .example {background: orange;} */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/* .example {background: pink;} */
}
