/* App level styling */
@font-face {
	font-family: 'MightySpidey';
	src: local('MightySpidey'),
		url('../fonts/MightySpidey.ttf') format('truetype');
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none;
}

.link {
	text-decoration: none;
	color: steelblue;
	font-family: 'MightySpidey';
	cursor: pointer;
}

.link:hover {
	color: red;
}

.success-message,
.error-message {
	margin: 15px auto;
}

.success-message {
	color: green;
}

.error-message {
	color: red;
}

.success-icon,
.error-icon {
	margin-right: 5px;
}

.actual-email {
	color: whitesmoke;
}
