.category-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: inherit;
}

.category-list-card {
	width: calc(100% - 75px);
}

.category-list-card-body {
	max-height: 500px;
	padding: 25px;
	overflow: auto;
}

.category-list-card-body::-webkit-scrollbar {
	display: none;
}

.category-list-item {
	margin-top: 5px;
	background-color: steelblue;
	color: whitesmoke;
	border-bottom: 1px solid black;
	cursor: pointer;
}

.category-list-item:hover {
	background-color: red;
}

.category-list-edit-hide {
	display: none;
}

.category-list-icon {
	font-size: 20px;
	margin: 10px;
	cursor: pointer;
}

.category-list-icon:first-child {
	color: green;
}

.category-list-icon:nth-child(2) {
	color: tomato;
}

.category-list-warning {
	color: yellow;
}
