/* Forgot Password */

.forgot-password {
	height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../assets/superhero-comic-4376194.png') center;
}

.forgot-password-card {
	background-color: black;
	padding: 20px;
	color: whitesmoke;
	text-align: center;
	border-radius: 50%;
}

.forgot-password-card-icon {
	font-size: 40px;
	color: red;
}

.forgot-password-form {
	margin: auto;
	width: 65%;
}

.forgot-password-btn {
	background-color: steelblue;
	color: whitesmoke;
}

.forgot-password-btn:hover {
	background-color: green;
	color: whitesmoke;
}
