@font-face {
	font-family: 'MightySpidey';
	src: local('MightySpidey'),
		url('../fonts/MightySpidey.ttf') format('truetype');
}

/* Header */
.header {
	height: 30%;
	position: relative;
	background: url('../assets/GreyStation_Background.png') no-repeat center
		bottom;
	background-size: 100vw 85%;
}

.header-titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Lora', serif;
	color: #444;
}

.header-title-sm {
	font-family: 'MightySpidey';
	font-size: 15px;
	color: steelblue;
}

.header-title-lg {
	position: absolute;
	top: 50%;
	font-size: 25px;
	font-family: 'MightySpidey';
	color: red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
	/* .example {background: red;} */

	.header-title-sm {
		font-size: 10.5px;
		margin-top: 5px;
	}

	.header-title-lg {
		font-size: 20px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	/* .example {background: green;} */

	.header-title-sm {
		font-size: 22.5px;
	}

	.header-title-lg {
		font-size: 45px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* .example {background: blue;} */
	.header {
		height: 60%;
	}

	.header-title-sm {
		font-size: 30.5px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/* .example {background: orange;} */

	.header-title-sm {
		font-size: 32.5px;
	}

	.header-title-lg {
		font-size: 65px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/* .example {background: pink;} */
}
