/* Home */
.home {
	height: calc(100vh - 40px);
	width: 100vw;
	overflow-x: hidden;
}

.h-bottom {
	height: 70%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* .example {background: blue;} */
	.h-bottom {
		display: flex;
		flex-wrap: wrap;
	}
}
