/* Navbar */
.navbar {
	height: 60px;
}

.link {
	font-size: 12px;
}

.nav-profile {
	height: 50px;
	width: 50px;
	margin-left: 15px;
	border: 1px solid steelblue;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.nav-profile-link {
	font-size: 10px;
}

.nav-password-link {
	margin-top: 5px;
	font-family: 'MightySpidey';
	font-size: 7.5px;
	color: steelblue;
	cursor: pointer;
}

.nav-password-link:hover {
	color: red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 280px) {
	/* .example {background: red;} */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	/* .example {background: green;} */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* .example {background: blue;} */

	li {
		margin: 0 10px;
	}

	#navbarNav {
		justify-content: center;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/* .example {background: orange;} */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/* .example {background: pink;} */
}
