@font-face {
	font-family: 'MightySpidey';
	src: local('MightySpidey'),
		url('../fonts/MightySpidey.ttf') format('truetype');
}

* {
	padding: 0;
	margin: 0;
}

.link {
	text-decoration: none;
	color: steelblue;
	font-family: 'MightySpidey';
	font-size: 12px;
}

.link:hover {
	color: red;
}

/* Navbar */
.navbar {
	height: 50px;
}

.nav-profile {
	height: 50px;
	width: 50px;
	margin-left: 15px;
	border: 1px solid steelblue;
	border-radius: 50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 280px) {
	/* .example {background: red;} */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	/* .example {background: green;} */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* .example {background: blue;} */

	li {
		margin: 0 10px;
	}

	#navbarNav {
		justify-content: center;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/* .example {background: orange;} */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/* .example {background: pink;} */
}
