/* Posts */

.posts {
	padding: 15px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* .example {background: blue;} */
	.posts {
		flex: 9;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
