/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/* .example {background: red;} */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	/* .example {background: green;} */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* .example {background: blue;} */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/* .example {background: orange;} */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/* .example {background: pink;} */
}

/* Profile */

.profile-image-hero {
	object-fit: cover;
}

.profile-wrapper {
	padding: 0px 15%;
}

.profile-verification-alert {
	height: 30px;
	width: fit-content;
	display: flex;
	align-items: center;
	color: whitesmoke;
}

.profile-verification-alert.verified {
	background-color: green;
}

.profile-verification-alert.unverified {
	background-color: red;
}

.profile-action-area {
	display: flex;
	justify-content: space-between;
}

.profile-created-date {
	display: inline-flex;
}

.profile-button-icon {
	margin-right: 5px;
}

.unfollow-button:hover > .profile-button-icon.frown {
	color: blue;
}

.follow-button:hover > .profile-button-icon.heart {
	color: red;
}

.update-button:hover > .profile-button-icon.user {
	color: green;
}

.message-button:hover > .profile-button-icon.envelope {
	color: yellow;
}

.profile-photo-update-area {
	display: flex;
}

.profile-photo-preview {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: 1px solid black;
	margin-right: 8px;
	object-fit: cover;
}

.profile-stats {
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile-update-form {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.profile-update-form.hidden {
	display: none;
}

.profile-update-action {
	text-align: right;
}

.profile-update-action-btn {
	margin-right: 10px;
}

.profile-content {
	display: flex;
}

.profile-users {
	flex: 4;
	padding: 0px 15px 5px 15px;
}

.profile-posts {
	flex: 8;
	padding: 0px 15px 5px 15px;
}

.profile-post {
	width: 100%;
	display: flex;
	margin-bottom: 15px;
}

.profile-post-media {
	flex: 3;
	width: 100px;
	border-radius: 20px;
	margin-right: 15px;
}

.profile-post-data {
	flex: 9;
	padding: 10px;
}

.profile-post-desc {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.profile-viewer-item {
	display: flex;
	margin-bottom: 10px;
}

.profile-viewer-photo {
	height: 75px;
	width: 75px;
	margin-right: 15px;
	border-radius: 50%;
	object-fit: cover;
}
