/* Reset Password */

.reset-password {
	height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../assets/superhero-comic-4376194.png') center;
}

.reset-password-card {
	background-color: black;
	padding: 35px;
	color: whitesmoke;
	text-align: center;
	border-radius: 50%;
}

.reset-password-card-icon {
	font-size: 40px;
	color: steelblue;
}

.reset-password-btn {
	background-color: steelblue;
	color: whitesmoke;
}

.reset-password-btn:hover {
	background-color: green;
	color: whitesmoke;
}
