/* Verify Account */

.verify-account {
	height: calc(100vh - 118px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.verify-account-card-icon {
	font-size: 40px;
	color: seagreen;
}
